.spotDetailContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.spotDetailInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.spotDetailPicture {
  width: 100%;
  object-fit: fill;
  align-items: center;
}

.spotDetailImage {
  object-fit: cover;
  height: 500px;
  width: 700px;
}

.spotDetailNumReview {
  margin-left: 10px;
}

.spotDetailLocation {
  margin-left: 10px;
  font-weight: bold;
}

.spotDetailBodyContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.spotDetailBodyContainer {
  display: flex;
  width: 100%;
  padding-top: 15px;
}

.spotDetailDescription {
  width: 450px;
  word-wrap: break-word
}

.spotDetailPriceContainer {
  display: flex;
  width: 50%;
  padding: 24px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  align-items: center;
  position: relative;
}

.spotDetailPrice {
  display: flex;
}

.fa-star {
  margin-right: 3px;
}

.spotNight {
  padding-left: 3px;
}

.spotDetailReviewName {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.spotDetailReviewInfo {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.spotDetailCreateReview {
  /* padding-bottom: 10px; */
}

.createReviewButton {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}
