.spotDetailContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

.spotDetailInnerContainer {
  width: 1120px;
}

.spotDetailName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.spotDetailInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailPicture {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.spotDetailImage {
  object-fit: cover;
  height: 498.19px;
  width: 100%;
  margin-top: 24px;
  border-radius: 12px;
}

.spotDetailNumReview {
  margin-left: 10px;
}

.spotDetailLocation {
  margin-left: 10px;
}

.spotDetailBodyContainer {
  display: flex;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.spotDetailHostContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.spotDetailHostLeft {
  display: flex;
  flex-direction: column;
}

.spotDetailHostedBy {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  font-size: 20px;
}

.spotDetailSpecs {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  font-size: 15.5px;
}

.spotDetailSpecsBedroom{
  margin-left: 5px
}

.spotDetailSpecsBed{
  margin-left: 5px
}

.spotDetailSpecsBath{
  margin-left: 5px
}

.spotDetailListing {
  display: flex;
  flex-direction: column;
  width: 58.333036%;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.spotDetailHighlightContainer {
  box-sizing: border-box;
  height: 244px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.spotDetailHighlightOne {
  display: flex;
  padding-bottom: 24px;
}

.spotDetailHighlightTwo {
  display: flex;
  padding-bottom: 24px;
}

.spotDetailHighlightThree {
  display: flex;
}

.spotDetailHighlightUppertext {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.spotDetailHighlightUndertext {
  font-size: 14px;
  color: rgb(113, 113, 113);
}

.spot-detail-icons {
  width: 24px;
  height: 24px;
  padding-right: 16px;
  padding-top: 12.5px;
}

.spotDetailBodyRight {
  display: flex;
  justify-content: space-between;
  width: 41.666964%;
  flex-direction: column;
}

.spotDetailCheckBookings {
  display: flex;
  justify-content: center;
  margin-left: 93.328px;
  margin-right: 2px;
  padding-top: 16px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  width: 371.33px;
  margin-left: auto;
}

.spotDetailOwnerIcon {
  display: flex;
  width: 56px;
  height: 56px;
}

.spotDetailDescription {
  padding-top: 24px;
}

.spotDetailPriceContainer {
  display: flex;
  box-sizing: border-box;
  margin-left: auto;
  height: 496px;
  width: 371.33;
  padding: 24px;
  /* justify-content: space-between; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  position: relative;
  margin-right: 2px;
  flex-direction: column;
}

.spotDetailBoxOne {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.spotDetailBoxTwo {
  display: flex;
  justify-content: center;
  /* margin-bottom: 16px; */
  /* height: 227px; */
  /* border: 1px solid rgb(221, 221, 221); */
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailBoxThree {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
  font-size: 14px;
}

.spotDetailBoxFour {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailFeeOne {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
}

.spotDetailFeeTwo {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  font-size: 16px;
  line-height: 20px;
}

.spotDetailFeeThree {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  font-size: 16px;
  line-height: 20px;
}

.spotDetailBoxFive {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid rgb(221, 221, 221) !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailPrice {
  display: flex;
  align-items: column;
  font-family: 'Montserrat', sans-serif;
}

.spotPriceAmount {
  font-size: 20px;
  font-weight: 500;
}

.spotNight {
  padding-top: 3.5px;
  padding-left: 3px;
}

.spotDetailReview {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.fa-star {
  margin-right: 3px;
}

.spotDetailReviewName {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailReviewInfo {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailCreateReview {
  display: flex;
  align-items: center;
}

.createReviewButton {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailReviewCards {
  display: flex;
  margin-top: 24px;
}

.testing {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
}

.spotDetailDeleteButton {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
  font-family: 'Montserrat', sans-serif;
}
