.spotDetailContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
}

.spotDetailInnerContainer {
  width: 1000px;
}

.spotDetailName {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.spotDetailInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailPicture {
  /* width: 100%; */
  /* object-fit: fill;
  /* width: 1000px; */
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.spotDetailImage {
  object-fit: cover;
  height: 500px;
  width: 1000px;
  border-radius: 15px;
}

.spotDetailNumReview {
  margin-left: 10px;
}

.spotDetailLocation {
  margin-left: 10px;
  font-weight:
}

.spotDetailBodyContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.spotDetailBodyContainer {
  display: flex;
  width: 100%;
  padding-top: 15px;
}

.spotDetailDescription {
  width: 65%;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailPriceContainer {
  display: flex;
  width: 30%;
  padding: 24px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  align-items: center;
  position: relative;

}

.spotDetailPrice {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailReview {
  font-family: 'Montserrat', sans-serif;
}

.fa-star {
  margin-right: 3px;
}

.spotNight {
  padding-left: 3px;
}

.spotDetailReviewName {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailReviewInfo {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.spotDetailCreateReview {
  display: flex;
  align-items: center;
}

.createReviewButton {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}
