#modal {
  display: flex;
  justify-content: center;
}

#modal-background {
  background-color: rgba(0, 0, 0, .50) !important;
}

#modal-content {
  max-width: 568px;
  width: 100%;
}

.signup-modal-container {
  max-width: 568px;
  width: 100%;
}

.signup-modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px solid rgb(235, 235, 235);
  align-items: center;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
}

.signup-modal-form {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 14px
}

.signup-welcome {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.signupInputContainer {
  width: 100%
}

.signupInput {
  display: flex;
  position: relative;
  flex: 1 1 0%;
  width: 100%;
}

.signupInput > input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  border: 1px solid #dadada;
  border-radius: 8px;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
}

.signupSubmit {
  display: block;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      to right,
      rgb(230, 30, 77) 0%,
      rgb(227, 28, 95) 50%,
      rgb(215, 4, 102) 100%
    )
    repeat scroll 0% 0%;
}

.signup-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-right: 7px;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0
}

.signupErrorContainer {
  padding-top: 13px;
  padding-bottom: 13px;
  /* padding-left: 24px; */
  /* padding-right: 24px; */
  color: red;
}

.signupError {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 11px;
}

.signupForm {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.signupXButton {
  width: 15px;
  cursor: pointer;
}

.signupSignup {
  padding-right: 226.08px;
}
