.homePageContainer {
  margin-top: 16px;
}

.spotsContainer {
  display: flex;
  justify-content: center;
}

.spotLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 25px;
}
