.homePageContainer {
  margin-top: 16px;
}

.spotsContainer {
  display: flex;
  justify-content: center;
}

.spotLayout {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4, 1fr); */
  place-items: center;
  justify-content: center;
  gap: 25px;
}
