.editSpotContainer {
  display: flex;
  justify-content: center;
}

.editSpotForm {
  background-color: #dcdcdc;
  border-radius: 20px;
  box-sizing: border-box;
  height: 700px;
  padding: 20px;
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.editSpotInput {
  display: flex;
  position: relative;
  width: 300px;
  flex: 1 1 0%;
}

.editSpotInput > input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 1px solid #696969;
  border-radius: 5px;
  background-color: transparent !important;
}

.editSpotButtonContainer {
  display: flex;
  justify-content: space-between;
}

.editSpotButton {
  color: white;
  padding: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
  margin-top: 30px
}

.editSpotButton:hover {
  background-color:#ff7b80;
}
