.userReviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.userReviewHeader {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 36px;
  padding-bottom: 48px;
  line-height: 36px;
  font-size: 32px;
}

.userReviewInnerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
}

.userReviewCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 100%;
  width: 800px;
  max-width: 1200px;
}

.userReviewHeader {
  text-align: center;
}

.userReviews {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-between;
}

.userSpotsButtons {
  display: flex;
}

.userSpotsDeleteButton {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
  font-family: 'Montserrat', sans-serif;
}
