.createSpotContainer {
  display: flex;
  justify-content: center;
}

.createSpotForm {
  background-color: #dcdcdc;
  border-radius: 20px;
  box-sizing: border-box;
  height: 750px;
  padding: 20px;
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.createSpotInput {
  display: flex;
  position: relative;
  width: 300px;
  flex: 1 1 0%;
}

.createSpotInput > input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 1px solid #696969;
  border-radius: 5px;
  background-color: transparent !important;
}

.createSpotButton {
  color: white;
  padding: px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
  margin-top: 30px
}

.createSpotButton:hover {
  background-color:#ff7b80;
}

.createSpotForm {
  height: 800px;
}
