.spotCardContainer {
  width: 300px;
  height: 390px;
  margin-top: 10px
}

.spotImage {
  width: 300px;
  height: 285px;
  border-radius: 12px;
  object-fit: cover;
}

.spotDescription {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* padding: 15px 0px; */
  padding-top: 15px;
  width: 300px;
}

.spotDescriptionLeft {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.spotDescriptionRight {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.spotLocation {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  width: 240px;
  font-family: 'Montserrat', sans-serif;
}

.spotPrice {
  display: flex;
  width: 70px;
  text-decoration: none;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.spotCardPriceAmount {
  font-weight: 600;
  font-size: 16px;
}

.spotCardNight {
  padding-left: 3px;
  /* padding-bottom: 1px; */
}

a {
  text-decoration: none;
  color: black;
}

.spotStar {
  margin-right: 3px;
}

.spotRating {
  font-family: 'Montserrat', sans-serif;
}

.spotCountry {
  width: 200px;
  padding-top: 3px;
  padding-bottom: 5px;
  color: rgb(115, 115, 115);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
