.reviewCardContainer {
  display: flex;
  flex-direction: column;
  /* width: 42%; */
  /* border: solid rgb(227, 227, 227); */
  border-radius: 12px;
  /* width: 457.33px; */
  width: 400px;
  height: 168px;
  /* padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px; */
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  margin-right: 94.656px;
}

.reviewCardDataTop {
  display: flex;
}

.reviewCardUserPic {
  height: 40px;
  width: 40px;
}

.reviewCardTopRight {
  padding-left: 10px
}

.reviewCardNameStar {
  display: flex;
  width: 100%;
  width: 100px;
}

.reviewCardStar {
  display: flex;
}

.reviewCardRating {
  font-family: 'Montserrat', sans-serif;
}

.reviewCardName {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.reviewCardDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 14.5px;
  padding-top: 3px;
  color: #717171;
}

.reviewCardReview {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  width: 410px;
  word-wrap: break-word;
}

.reviewCardBottom {
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 457.33px;
  word-wrap: break-word;
}
