.userSpotsHeader {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.userSpotsButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.userSpotsEditButton {
  color: white;
  padding: px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}

.userSpotsEditButton:hover {
  background-color:#ff7b80;
}

.userSpotsDeleteButton {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}

.userSpotsDeleteButton:hover {
  background-color:#ff7b80;
}
