.userSpotsHeader {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.userSpotsButtons {
  display: flex;
  justify-content: space-between;
}

.userSpotsEditButton {
  background-color: #FF5A5F;
  color: white;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(183, 183, 183);
}

.userSpotsEditButton:hover {
  background-color:#ff7b80;
}

.userSpotsDeleteButton {
  background-color: #FF5A5F;
  color: white;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(183, 183, 183);
}

.userSpotsDeleteButton:hover {
  background-color:#ff7b80;
}
