.CreateBookingFormOutside {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 176px;
}

.CreateBookingFormContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 176px;
}

.CreateBookingform {
  width: 322.33px;
  height: 176px;
  /* display: flex; */
}

.CreateBookingDiv {
  display: flex;
  width: 322.33px;
  /* border-radius: 8px 8px 0 0; */
  height: 56px;
}

.CreateBookingContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.createBookingSubmit {
  /* display: flex; */
  /* justify-content: center; */
  display: block;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background: rgba(0, 0, 0, 0)
  linear-gradient(
      to right,
      rgb(230, 30, 77) 0%,
      rgb(227, 28, 95) 50%,
      rgb(215, 4, 102) 100%
    )
    repeat scroll 0% 0%;
  }

.createBookingSubmit {
  box-sizing: border-box;
  /* width: 100%; */
  /* padding: 17px; */
  border-radius: 8px;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  height: 48px;
}

.CreateBookingGuest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-radius: 0 0 8px 8px;
  height: 55px;
  padding-left: 12px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 16px;
}

.CreateBookingGuestOne {
  font-weight: 500;
  font-size: 12px;
}

.CreateBookingGuestTwo {
  /* font-weight: 500; */
  font-size: 13px;
}

.CreateBookingInputCheckout {
  box-sizing: border-box;
  /* width: 12%; */
  padding: 17px;
  /* border: 1px solid #dadada; */
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-left: .5px solid #dadada;
  border-radius: 0 8px 0 0;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  width: 50%
}

input.CreateBookingInputCheckout[type="date"] {
  position: relative;
}

input.CreateBookingInputCheckout[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

.CreateBookingInputCheckin {
  box-sizing: border-box;
  /* width: 12%; */
  padding: 17px;
  /* border: 1px solid #dadada; */
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: .5px solid #dadada;
  border-left: 1px solid #dadada;
  border-radius: 8px 0 0 0;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  width: 50%
}

input.CreateBookingInputCheckin[type="date"] {
  position: relative;
}

input.CreateBookingInputCheckin[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}
