.logo {
  height: 70px
}

.navContainer {
  display: flex;
  margin: auto;
  position: sticky;
  height: 65px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-bottom: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  height: 20px;
  margin: 0px auto;
  margin-top: 30px;
}

.navBarLeftSide {
  display: flex;
  justify-content: space-between;
  /* width: 300px; */
}

.navBarButtons {
  display: flex;
  justify-content: space-between;
}

.becomeAHost {
  padding: 12px;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}

.navBarLoaded {
  display: flex;
  justify-content: center;
}

.becomeAHost:hover {
  background-color: rgba(200, 200, 200, 0.18);;
}

.user-session {
  display: flex;
  align-items: center;
}

.userProfileMenu {
  position: relative;
  border: none;
  z-index: 0;
  width: 77px;
  height: 42px;
}

.userProfileMenu > button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.userProfileMenu > button {
  padding: 10px;
  width: 77px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 20px;
  transition: box-shadow 0.2s ease 0s;
}

.profile-container {
  border: 1px solid gray;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 200px;
  /* height: 195px; */
  left: -130px;
  top: 50px;
  border-radius: 15px;
  border: none;
  z-index: 1;
  box-shadow: 0 2px 22px 0 hsla(0, 0%, 31%, 0.158);
}

.profile-name {
  border-bottom: 1px solid lightgray;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.profile-manage-listings {
  border-bottom: 1px solid lightgray;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.profile-manage-reviews {
  border-bottom: 1px solid lightgray;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.profile-host-home {
  border-bottom: 1px solid lightgray;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.profile-logout {
  padding: 15px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.profile-manage-listings:hover {
  background-color: #E8E8E8
}

.profile-manage-reviews:hover {
  background-color: #E8E8E8
}

.profile-host-home:hover {
  background-color: #E8E8E8
}

.profile-logout:hover {
  background-color: #E8E8E8;
  border-radius: 0 0 12px 12px;
}

.userProfileButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77px;
  height: 42px;
}


.fa-bars {
  /* height: 15px;
  width: 15px; */
  /* padding-right: 10px; */
  /* margin-top: 7px; */
  /* margin-left: 2px; */
}


.fa-user-circle {
  /* margin-bottom: 15px; */
}
