.logo {
  height: 70px
}

.navContainer {
  display: flex;
  margin: auto;
  position: sticky;
  height: 65px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-bottom: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 60%;
  padding-left: 75px;
  padding-right: 75px;
  height: 20px;
  margin: 0px auto;
  margin-top: 30px;
}

.user-session {
  display: flex;
  align-items: center;
}

.userProfileMenu {
  position: relative;
  border: none;
  z-index: 0;
}

.userProfileMenu > button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.userProfileMenu > button {
  padding: 10px;
  width: 77px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 20px;
  transition: box-shadow 0.2s ease 0s;
}

.profile-container {
  border: 1px solid gray;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 200px;
  /* height: 250px; */
  left: -130px;
  top: 50px;
  border-radius: 15px;
  border: none;
  z-index: 1;
  box-shadow: 0 2px 22px 0 hsla(240, 5%, 41%, 0.158);
}

.profile-name {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  font-weight: bold;
}

.profile-manage-listings {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}

.profile-manage-reviews {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}

.profile-logout {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}

.profile-host-home {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}

.profile-manage-listings:hover {
  background-color: #E8E8E8
}

.profile-manage-reviews:hover {
  background-color: #E8E8E8
}

.profile-host-home:hover {
  background-color: #E8E8E8
}

.profile-logout:hover {
  background-color: #E8E8E8
}

.fa-bars {
  height: 15px;
  width: 15px;
  padding-right: 10px;
  margin-top: 3px;
  margin-left: 2px;
}
